.venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.tmp
.DS_Store
Thumbs.db
.cache/
.idea/
.vscode/
*.bak
*.swp
*.swo
*.orig
*.egg-info/
dist/
build/
node_modules/
static/uploads/
*.ipynb_checkpoints
